*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background: #0c0c0c;
  padding: .5rem;
  font-family: 'Nunito ';
}

h1.title-page {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.todo-title-input,
.todo-desc-input,
.add-btn{
  padding: 1rem;
  border: none;
  margin-bottom: 2rem;
}

.todo-desc-input,
.todo-title-input {
  border-radius: .5rem 0 0 .5rem;
  width: 87%;
  background: #171717;
  box-shadow: 0 10px 15px #0000007c;
  color: #444;
}

.todo-title-input {
  width: 99%;
  border-radius: .5rem;
  margin-bottom: .5rem;
}

.add-btn {
  border-radius: 0px .5rem .5rem 0px;
  background: linear-gradient(45deg, #ef6363, #f48855);
  color: white;
  font-weight: 900;
}



.todo {
  background: #000000;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: .5rem;
  position: relative;
  box-shadow: 0 10px 15px #0000007c;
  transition: .5s;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}

.description {
  font-weight: 400;
  color: #666;
  background: #0c0c0c;
  border-radius: .5rem;
  padding: 1rem .5rem;
  margin: .5rem 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.buttons button {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  margin-left: .5rem;
}

button i {
  color: white;
}

.progess-btn {
  background: #f35a5aff;
}

.done-btn {
  background: #82f68a;
}

.delete-btn {
  background: #f35a5aff;
}

.fall {
 transform: translateY(7rem) rotateZ(20deg);
 opacity: 0;
}

.check {
  text-decoration: line-through;
  opacity: .5;
}